* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  border: 1px solid grey;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
  width: 160px;
  height: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 130px;
}

.title {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-transform: capitalize;
}

.types {
  color: white;
  text-transform: capitalize;
  display: flex;
}

.type {
  padding: 5px;
  background-color: grey;
  border-radius: 8px;
  margin: 5px;
  height: 23px;
}
